.*~
.tmp*
.*.swp
db/schema.rb
db/*.sqlite3
log/*
log/**/*
tmp/*
tmp/**/*
*.orig
.DS_Store
.bundle
*.tmproj
.BACKUP
.LOCAL
.BASE
.REMOTE
*.tmproj
*.sublime*
nohup.out
.rspec
dump.rdb
temp-*.rdb
.idea
coverage/
public/assets
