.container
  %p Wanna receive weekly post cards of the cutest animals on the internet?
  %p Enter your email address below and we'll let you know when the service launches.
  = form_for @preuser, :url => '/' do |f|
    = f.text_field :email
    = f.submit "Sign me up!"
  