.container
  %p.nicefont Does getting weekly picture postcards of the cutest animals for only a couple bucks sound awesome?
  %p.nicefont.subtitle Then enter your email address below to be notified when we launch!
  %br  
  = form_for @preuser, :url => '/', :class => "signup" do |f|
    = f.text_field :email, :placeholder => "you@email.com"
    = f.submit raw("Sign me up!"), :class => "btn btn-primary btn-large"
  = image_tag "qt.png", :class => "qt", :alt => 'Get cuties like me delivered to your mailbox every week!'
  %p
  :erb
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fqt2me&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23fff&amp;stream=false&amp;header=false&amp;appId=379298132126259" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>