.container
  %p Wanna receive weekly postcards of the cutest animals found on the Internet for just a couple bucks a week?
  %p Enter your email address below and we'll let you know when the service launches.
  = form_for @preuser, :url => '/' do |f|
    = f.text_field :email
    = f.submit "Sign me up!"
  