.container
  %p.nicefont Thank you for signing up!
  %p.nicefont.subtitle We'll let you know as soon as the service is available.
  = image_tag "qt_thanks.png", :class => "qt-thanks", :alt => 'Get cuties like me delivered to your mailbox every week!'