@import "bourbon", "bootstrap", "variables", "mixins";

body {
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 14px;
  background-image: url('/assets/lightpaperfibers.png');
  margin:0px;
  padding:0px;
}


h1, h2, h3, h4{
  color:#2b4a6c;
  @include text-shadow(0px, -1px, #666, 0px);
}

a:link, a:visited{
  text-decoration:none;
}

.btn-large{
  font-size:1.6em;
}
#logo {
  width: 217px;
  height: 63px;
  background-image: url('/assets/logo.png');
}

.container { 
  padding-top: 20px; 
  width: 600px;
  margin: 0 auto;
}

.field_with_errors{
  display:inline;
}

label {
  font-size:1.2em;
  clear: both;
  display: block;
  margin-top:6px;
  color:#222;
}

.notice {
  padding: 6px 12px;
  border: 1px solid #2B4A6C;
  font-size: 1.25em;
  margin: 12px auto 28px;
  @include border-radius(6px 6px 6px 6px);
}

.postcard{
  position:relative;
  border:3px solid #E86DB2;
  @include border-radius(4px);
  @include box-shadow(4px 4px 6px #aaa);  
}

.flag{  
  font-size:1.2em;
  position:absolute;
  left:-10px;
  bottom:20px;  
  color:white;  
  .fold{
    position:absolute;
    left:0px;
    top:-10px;
    width:0px; 
    height:0px; 
    border-bottom:0px solid transparent;  /* left arrow slant */
    border-top:10px solid transparent; /* right arrow slant */
    border-right:10px solid darken($qt_blue,10%); /* bottom, add background color here */

  }
  .body{
    @include text-shadow(0px, -1px, #333, 1px);
    @include box-shadow(2px 2px 4px #555);  
    padding:10px 20px;
    float:left;
    background-color:$qt_blue;
    @include border-radius(0px 6px 6px 0px);
  }

  .body.flag-hover{
    background-color:lighten($qt_blue,20%);
  }
}

.clear{
  clear:both;
}
.message{
  @include text-shadow(0px, -1px, #333, 1px);
  text-align:right;
  font-size:2.6em;
  margin: 6px 0px 10px 0px;
  color:#2b4a6c;
}

.message2{
  @include text-shadow(0px, -1px, #333, 1px);
  text-align:right;
  font-size:1.8em;
  margin: 6px 0px 10px 0px;
  color:lighten(#2b4a6c,10%);
}

.submessage{
  text-align:right;
  color:#555  ;
  font-size:1.4em;  
}
input{
  font-size: 1.3em; /* 20px / 16px */
}

input[type="submit"]{
  font-family: 'Port Lligat Sans', sans-serif; 
}

input[type="text"]{
  font-family: 'Port Lligat Sans', sans-serif;
  padding:4px 4px 6px 4px;
  border: solid 2px $qt_pink;
  @include border-radius(6px);
}

.submit{
  position:absolute;
  bottom:10px;
  right:10px;
}
#order-form{
  position:relative; 
  clear:both;
  float:right;
}

.order-details{  
  margin-top:30px;
  margin-left:20px;
  color:#555;
  font-size:1.1em;
  @include clearfix;

}

iframe{
  border: solid 1px lighten($qt_pink,10%);
  @include border-radius(2px);
}
.footer{
  background-color:lighten($qt_pink,30%);
  border-top:solid 2px $qt_pink;
  @include box-shadow(0px -2px 8px #ccc);  
  clear:both;
  margin-top:60px;
  padding-top:20px;
  padding-bottom:60px;
  text-align:center;  
}

.buttons{  
  margin-top:30px;
  margin-left:20px;
}
.error-message {
  color: red;
  text-transform:capitalize;
  margin-left:6px;
  margin-top:2px;
  margin-bottom:8px;  
}

.share-container {
  margin: 0 auto 20px;
  width: 152px;
  height: 32px;
  
  .share-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-left: 8px;
    cursor: pointer;
    
    &:first-child {
      margin-left: 0;
    }
  }

  #pintrest-share {
    background-image: url(/assets/pinterest_32x32.png);
  }

  #facebook-share {
    background-image: url(/assets/facebook_32x32.png);
  }

  #twitter-share {
    background-image: url(/assets/twitter_32x32.png);
  }

  #google-plus-share {
    background-image: url(/assets/google_plus_32x32.png);
  }
}

.preview {
  position:relative;  
  @include transform(rotate(-4deg));
}

#form-left{
  float:left;
  text-align:left;
  margin-right:20px;
}

#form-right{
  text-align:left;
  float:left;
}

#order-confirmation {
  form {
    float: left;
    display: inline-block;
    width: 400px;
  }
  
  .preview{
    float: left;
    display: inline-block;
    width: 100px;
    margin-top: 50px;

    img {
      width: 200px;
    }
  }
}

