@import "bourbon";
@import "bootstrap";

$qt_pink : #E86DB2;
$qt_blue : #3f6b9a;

body {
  font-family: 'Port Lligat Sans', sans-serif;
  font-size: 14px;
  background-image: url('/assets/lightpaperfibers.png');
  margin:0px;
  padding:0px;
}


h1, h2, h3, h4{
  color:#2b4a6c;
}

a:link, a:visited{
  text-decoration:none;
}

.btn-large{
  font-size:1.6em;
}
#logo {
  width: 217px;
  height: 63px;
  background-image: url('/assets/logo.png');
}

.container { 
  padding-top: 20px; 
  width: 600px;
  margin: 0 auto;
}

.field_with_errors{
  display:inline;
}

label {
  font-size:1.2em;
  clear: both;
  display: block;
  margin-top:6px;
  color:#222;
}

.postcard{
  border:3px solid #E86DB2;
  @include border-radius(4px);
  @include box-shadow(4px 4px 6px #aaa);  
  margin-top:6px;
  margin-bottom:6px;
  @include transform(rotate(-4deg));
}

.clear{
  clear:both;
}
#form-left{
  float:left;
  text-align:left;
  margin-right:40px;
}
#form-right{
  text-align:left;
  float:left;
}
.message{
  text-align:right;
  font-size:2.6em;
  margin: 6px 0px 10px 0px;
  color:#2b4a6c;
}

.submessage{
  text-align:right;
  color:#555  ;
  font-size:1.4em;  
}
input{
  font-size: 1.3em; /* 20px / 16px */
}

input[type="submit"]{
  font-family: 'Port Lligat Sans', sans-serif; 
}

input[type="text"]{
  font-family: 'Port Lligat Sans', sans-serif;
  padding:4px 4px 6px 4px;
  border: solid 2px $qt_pink;
  @include border-radius(6px);
}

.submit{
  position:absolute;
  bottom:10px;
  right:10px;
}
#order-form{
  position:relative; 
  clear:both;
  float:right;
}

.order-details{  
  margin-top:30px;
  margin-left:20px;
  color:#555;
  font-size:1.1em;
  @include clearfix;

}
.footer{
  border-top:solid 1px #E86DB2;
  @include box-shadow(0px -2px 8px #ccc);  
  clear:both;
  margin-top:60px;
  padding-top:20px;
  padding-bottom:60px;
  text-align:center;
  background:white;
}

.buttons{  
  margin-top:30px;
  margin-left:20px;
}
.error-message {
  color: red;
  text-transform:capitalize;
  margin-left:6px;
  margin-top:2px;
  margin-bottom:8px;  
}
