.message {
}

.preview {
  position:relative;  
  @include transform(rotate(-4deg));
}

#form-left{
  float:left;
  text-align:left;
  margin-right:20px;
}

#form-right{
  text-align:left;
  float:left;
}

#order-form {
  .sender {
    
  }
  
  .recipient {
    
  }

  .payment {
    
  }

  .submit {
    
  }
}

#order-confirmation {
  form {
    float: left;
    display: inline-block;
    width: 400px;
  }
  
  .preview{
    float: left;
    display: inline-block;
    width: 100px;
    margin-top: 50px;

    img {
      width: 200px;
    }
  }
}

