// Place all the styles related to the PreusersController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nicefont{
  font-family: 'Port Lligat Sans', sans-serif;
}

.qt{
  width:600px;
}

.qt-thanks{
  width:600px;
}

.field_with_errors{
  display:inline;
}
.container { 
  padding-top:20px; 
  width:600px;
  margin:0 auto;
  font-size:26px;
  text-align:center;
}

.subtitle{
  font-size:20px;
  color:#666;
}
input{
  font-size:20px;
}

input[type="submit"]{
  font-family: 'Port Lligat Sans', sans-serif;
  font-size:20px;
}

input[type="text"]{
  font-family: 'Port Lligat Sans', sans-serif;

  padding:8px 8px 12px 8px;
  font-size:20px;
  border: solid 2px #666;
}


